{% extends 'base.html.twig' %}

{% block title %}{{ 'nav.partner' | trans }}{% endblock %}
{% block body %}
    {# TODO : Afficher tous les partenaires #}
    <h1>{{ 'nav.thank' | trans }}</h1>
    {# TODO : Afficher tous les remerciement #}
{% endblock %}