{% extends 'admin/admin.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <p>Bienvenue sur l'interface d'administration du site internet du concours de Bailleau. Vous pouvez vous-même gérer les contenus du site internet. Si vous avez besoin d'aide, ou pour toute évolution, n'hésitez pas à contacter Thibault HENRY à l'e-mail suivant : <a href="mailto:thibault@henry.pro">thibault@henry.pro</a>.</p>
    <p>Bisous.</p>
{% endblock %}