@import "_include.scss";

html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url("../images/background.jpg");
    background-position: bottom center;
    background-size: cover;
    background-color: #72A3D3;
    background-repeat: no-repeat;
    color: #444;
    font: normal 14px/20px Arial, Helvetica, sans-serif;
}

body > section {
    background-color: #fff;
}

body > section > header {
    position: relative;

    #locales {
        position: absolute;
        top: 5px;
        right: 5px;

        a {
            margin-left: 10px;
        }
    }

    & > a {
        text-align: center;
        display: block;
        margin-bottom: 20px;
    }

    nav {
        display: table;
        background-color: #f3f3f3;
        height: 41px;
        line-height: 41px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 0;
        width: 100%;

        a {
            text-align: center;
            display: table-cell;
            padding: 0 20px;
            color: #444;
            font-size: 20px;
            font-weight: lighter;
            border-right: solid 1px #fff;

            &.active, &:hover {
                background-color: #000;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}

body > section > main {
    padding: 20px;
}

body > footer {
    font-size: 0.8em;
    text-align: center;
    margin-top: 20px;
}

h1, h2, h3, h4, h5 {
    color: $blue;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: lighter;
}