@import "_include.scss";

html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url("../images/background.jpg");
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #72A3D3;
    background-repeat: no-repeat;
    color: #444;
    font: normal 14px/20px Arial, Helvetica, sans-serif;
}

body > section {
    background-color: #fff;

    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

body > section > header {
    position: relative;

    #locales {
        position: absolute;
        top: 5px;
        right: 5px;

        a {
            margin-left: 10px;
        }
    }

    & > a {
        text-align: center;
        display: block;
        margin-bottom: 20px;
    }

    nav {
        display: flex;
        background-color: #f3f3f3;
        line-height: 41px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 0;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;

        a {
            text-align: center;
            display: block;
            padding: 0 20px;
            color: #444;
            font-size: 20px;
            font-weight: lighter;
            border-right: solid 1px #fff;
            width: auto;

            &.active, &:hover {
                background-color: #000;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}

body > section > main {
    padding: 20px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 15px;

    & > aside {
        grid-column: 1 / 13;

        @include media-breakpoint-up(md) {
            grid-column: 1 / 5;
        }

        @include media-breakpoint-up(lg) {
            grid-column: 1 / 4;
        }
    }

    & > article {
        position: relative;
        grid-column: 1 / 13;

        @include media-breakpoint-up(md) {
            grid-column: 5 / 13;
        }

        @include media-breakpoint-up(lg) {
            grid-column: 4 / 13;
        }


        p {
            text-align: justify;
        }
    }
}

body > footer {
    font-size: 0.8em;
    text-align: center;
    margin-top: 20px;
}

h1, h2, h3, h4, h5 {
    color: $blue;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: lighter;
}

.a2lix_translations {
    .nav-link {
        &.active {
            font-weight: bold;
        }

        i {
            margin-right: 10px;
        }
    }

    .tab-content {
        border: 1px solid #dee2e6;
        border-top: none;
        padding: 10px 10px 0;
    }
}

.filter {
    margin-bottom: 20px;

    @include media-breakpoint-up(lg) {
        position: absolute;
        right: 20px;
        top: 20px;

        .row {
            flex-wrap: nowrap;
        }
    }
}

body > section > main > aside {
    & > main {
        background-color: $orange;
        padding: 15px;
        color: #fff;

        h2 {
            color: #fff;
        }

        ul {
            list-style: square;
            padding-left: 15px;
            margin: 0;

            li {
                margin-bottom: 10px;
                font-size: 0.9em;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    color: #fff;

                    &:hover {
                        color: $blue;
                        text-decoration: none;
                    }

                    strong {
                        display: block;
                        font-size: 1.2em;
                    }
                }
            }

        }
    }

    & > aside {
        padding: 15px;
        margin-bottom: 15px;

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            justify-content: space-between;
            align-items: center;

            li {
                padding: 0;
                margin: 0;
                display: inline-block;
                box-sizing: border-box;
                flex-grow: 1;
                width: 100px;
                text-align: center;

                &:nth-child(odd) {
                    padding-right: 10px;
                }

                &:nth-child(even) {
                    padding-left: 10px;
                }

                a {
                    display: block;
                    vertical-align: middle;

                    img {
                        width: 100%;
                    }
                }
            }
        }

        & > a {
            display: block;
            text-align: center;
            background: $blue;
            color: #fff;
            padding: 10px;
            font-weight: bold;
            margin-top: 10px;
        }
    }
}