<p>Bonjour,</p>
<p>Un nouveau compte vient de vous être créé sur le site du concours de Bailleau.</p>
<p>Pour vous y connecter, merci d'utiliser les informations suivantes :</p>
<ul>
    <li><strong>URL</strong> : <a href="{{ url('www_login') }}">{{ url('www_login') }}</a></li>
    <li><strong>E-mail</strong> : {{ user.email }}</li>
    <li><strong>Mot de passe</strong> : {{ password }}</li>
</ul>